# 自动生成字顺表

In [1]:
import pandas as pd

In [2]:
#cleaned_all_food = pd.read_excel("food_formal_cleaned_classified_.xlsx")
cleaned_all_food = pd.read_excel("high_purine_food_new.xlsx")
cleaned_all_food.drop(columns=["informal_name"], inplace=True)

In [3]:
cleaned_all_food.fillna(value="", inplace=True)
cleaned_all_food.head(5)

,new_index,old_index,name,baike_nickname,energy,carbohydrates,fat,protein,class
0,0,39,猪血,猪红，血花，血豆腐，液体肉,55,0.9,0.3,12.2,畜肉类及制品
1,1,40,猪皮,None,363,0,28.1,27.4,畜肉类及制品
2,2,41,火腿,None,330,4.9,27.4,16,畜肉类及制品
3,3,42,猪心,None,119,1.1,5.3,16.6,畜肉类及制品
4,4,43,猪脑,None,131,0,9.8,10.8,畜肉类及制品

### 按照名称生成表

In [4]:
sorted_cleaned_data = cleaned_all_food.sort_values(by="name",ascending=False)
sorted_cleaned_data.head(5)

,new_index,old_index,name,baike_nickname,energy,carbohydrates,fat,protein,class
168,169,217,龙眼干,None,317,73.5,1,4.6,水果类及制品
213,214,95,黑鳝,None,162.74,7.68,7.26,18.79,鱼虾蟹贝类
211,212,93,黑鲳鱼,None,149,5.9,6.5,16.8,鱼虾蟹贝类
35,36,38,黑豆,乌豆、枝仔豆、黑大豆,401,33.6,15.9,36,干豆类及制品
58,59,239,黑芝麻,None,559,24,46.1,19.1,坚果、种子类

### 按照用代属分生成表

In [5]:
final_df = pd.DataFrame(columns=["name","Y","D","S","F"])

In [6]:
final_df

Empty DataFrame
Columns: [name, Y, D, S, F]
Index: []

### 读取name列并放入将相关数据放入final_df中

In [7]:
sorted_cleaned_data.drop(columns=["new_index","old_index"], inplace=True)

In [8]:
sorted_cleaned_data = sorted_cleaned_data.reset_index()

In [9]:
sorted_cleaned_data.head()

   index name baike_nickname  energy carbohydrates   fat protein   class
0    168  龙眼干           None     317          73.5     1     4.6  水果类及制品
1    213   黑鳝           None  162.74          7.68  7.26   18.79   鱼虾蟹贝类
2    211  黑鲳鱼           None     149           5.9   6.5    16.8   鱼虾蟹贝类
3     35   黑豆     乌豆、枝仔豆、黑大豆     401          33.6  15.9      36  干豆类及制品
4     58  黑芝麻           None     559            24  46.1    19.1  坚果、种子类

In [10]:
def col_name_to_zishun_df(x):
    dict_1 = {}
    dict_1["name"] = x["name"]
    dict_1["D"] = x["baike_nickname"]
    dict_1["Y"] = ""
    dict_1["S"] = x["class"]
    dict_1["F"] = ""
    return dict_1

In [11]:
all_col_name = []
sorted_cleaned_data.apply(lambda x: all_col_name.append(col_name_to_zishun_df(x)), axis=1)

0      None
1      None
2      None
3      None
4      None
       ...
243    None
244    None
245    None
246    None
247    None
Length: 248, dtype: object

### 放入最终导出的df中

In [12]:
final_df = final_df.append(all_col_name, ignore_index=True)

In [13]:
final_df.head()

  name Y           D       S F
0  龙眼干          None  水果类及制品
1   黑鳝          None   鱼虾蟹贝类
2  黑鲳鱼          None   鱼虾蟹贝类
3   黑豆    乌豆、枝仔豆、黑大豆  干豆类及制品
4  黑芝麻          None  坚果、种子类

### 读取informal_name列

In [14]:
def col_informalname_to_zishun_df(x):
    dict_1 = {}
    dict_1["name"] = x["baike_nickname"]
    dict_1["D"] = ""
    dict_1["Y"] = x["name"]
    dict_1["S"] = ""
    dict_1["F"] = ""
    return dict_1

In [15]:
all_col_informalname = []
sorted_cleaned_data.apply(lambda x: all_col_informalname.append(col_informalname_to_zishun_df(x)), axis=1)

0      None
1      None
2      None
3      None
4      None
       ...
243    None
244    None
245    None
246    None
247    None
Length: 248, dtype: object

In [16]:
final_df = final_df.append(all_col_informalname, ignore_index=True)
final_df.head()

  name Y           D       S F
0  龙眼干          None  水果类及制品
1   黑鳝          None   鱼虾蟹贝类
2  黑鲳鱼          None   鱼虾蟹贝类
3   黑豆    乌豆、枝仔豆、黑大豆  干豆类及制品
4  黑芝麻          None  坚果、种子类

### class列

In [17]:
class_col_df = sorted_cleaned_data.groupby(["class","name"]).first()

In [18]:
class_name_list = class_col_df.reset_index()["class"].unique()

In [19]:
#def col_class_to_zishun_df

# 将final_df清洗+分行

In [20]:
final_df["name"].apply(print)

龙眼干
黑鳝
黑鲳鱼
黑豆
黑芝麻
黑枣
黑木耳
黄豆芽
麦芽
麦片
鹿肉
鸽子
鸭蛋黄
鸭蛋白
鸭肫
鸭肠
鸭肝
鸭肉
鸡蛋黄
鸡蛋白
鸡胸肉
鸡肫
鸡肝
鸡肉汤
鸡精
鸡心
鳝鱼
鳗鱼
鳕鱼
鲳鱼
鲱鱼
鲭鱼
鲫鱼
鲫鱼
鲨鱼皮
鲨鱼
鲤鱼
鲑鱼
鲍鱼菇
鲍鱼
鲈鱼
鱿鱼
鱼翅
鱼子酱
鱼丸
高粱
马肉
香蕉
香菇
韭黄
韭菜花
韭菜
面粉
面条
青鱼
青蒿
青葱
青椒
雪里蕻
银耳
金针菇
金枪鱼
酸菜类
酵母粉
酱油
通心粉
辣椒
豆苗菜
豆腐干
豆腐
豆浆
西瓜
螃蟹
蜂蜜
蛤蜊
蚬子
蚌蛤
虾
虱目鱼
虎纹蛙
蘑菇
薏米
蓝圆鲹
蒜头
葱头
葫芦
葡萄干
葡萄
萝卜
菠萝
菠菜
菜豆
莲蓬
莲子
荸荠
荠菜
草鱼
草虾
草莓
茼蒿菜
茄子
苹果
苦瓜
苋菜
芹菜
花豆
花生
芫荽
芦笋
芥菜
芥兰菜
芒果
芋头
腰果
腌菜类
脱脂奶
胡萝卜
胡瓜
肉汁
羊肉
绿豆芽
绿豆
红豆
红薯
红枣
紫菜
糯米醋
糯米
糙米
粉丝
米醋
米糠
米粉
笋干
空心菜
秋刀鱼
石榴
皮蛋黄
皮蛋白
皮刀鱼
皇帝豆
白鲳鱼
白菜
白芝麻
白木
白带鱼皮
白带鱼
瘦猪肉
番茄酱
番茄
番石榴
生蚝
生菜
生竹笋
瓜子
玉米
猪血
猪腰子
猪脾
猪脑
猪肝
猪肚
猪肉
猪皮
猪心
猪小肠
猪大肠
牡蛎
牛肝
牛肚
牛肉
牛奶
燕麦
熏鲱鱼
熏豆干
熏羊脾
火腿
淀粉
海鳗
海蜇皮
海藻
海带
海参
洋葱
泥鳅
油菜
沙丁鱼
橙子
榨菜
梨
桔子
桃子
桂鱼
桂圆干
核桃
栗子
树薯粉
柠檬
枸杞
果酱
枇杷
杨桃
杏子
杏仁
李子
木瓜
旗鱼
扁鱼干
干贝
干葵花籽
带鱼
小黄瓜
小麦
小鱼干
小米
小番茄
小牛颈肉
姜
大豆
大蒜
大葱
大米
大比目鱼
大樱桃
土豆
圆白菜
四季豆
哈密瓜
味精
味噌
吻仔鱼
吴郭鱼
吞拿鱼
发芽豆类
南瓜
包心菜
刀鱼
凤梨
凤尾鱼
冬粉
冬瓜糖
冬瓜
兔肉
九层塔
乌鱼
乌贼
丝瓜
三文鱼
None
None
None
乌豆、枝仔豆、黑大豆
None
None
None
黄豆种子芽
None
None
None
None
None
None
鸭胗
None
None
鹜肉、家凫肉、扁嘴娘肉、白鸭肉。
None
None
None
None
None
None
鸡粉
None
None

鳘鱼
扁鱼、鲳鳊鱼、平鱼、镜鱼、鮀鱼、昌侯龟、昌鼠等
青鱼
None
刀子鱼
刀子鱼
鲛鱼皮
鲛、沙鱼、鲛鲨
鲤拐子、鲤子
None
None
海耳、鳆鱼、镜面鱼、九孔螺、将军帽、白戟鱼、阔口鱼
花鲈、鲈板、花寨、鲈子鱼、七星鲈
柔鱼，枪乌贼
None
鱼籽酱
水丸、魚旦、鱼蛋

None
金蕉、弓蕉
花蕈、香信、椎茸、冬菰、厚菇、
None
韭苔、韭菜花
None
白面
None
None
None
None
大椒、灯笼椒、柿子椒、甜椒、菜椒
None
白木耳、雪耳、银耳子
冬菇、朴菇、构菌、青杠菌、毛柄金线菌
None
None
None
豉油
None
None
None
None
None
豆奶，豆乳
夏瓜、寒瓜、
None
百花蜜、槐花蜜、荆条蜜、狼牙蜜、枣花蜜等
蛤
None
蜯蛤
None
None
水鸡、田鸡、青鸡、泥蛙、虾蟆等
None
None
None
蒜、蒜头、独蒜、胡蒜
None
嘎贝哲布（藏名），葫芦壳、抽葫芦、壶芦、蒲芦
None
蒲陶、草龙珠、赐紫樱桃、菩提子、山葫芦
莱菔
凤梨
波斯菜、菠薐、菠柃、鹦鹉菜、红根菜、飞龙菜
None
莲子肉；藕实；水芝丹；莲蓬子；莲实；蓬肉。
None
马蹄、水栗、芍、凫茈、乌芋、菩荠、地栗、钱葱、土栗、刺龟儿
扁锅铲菜、地丁菜、地菜、荠、靡草、花花菜、菱角菜、地米菜等
阿鱼
None
凤梨草莓
茼蒿菜、打某菜、冬荷菜（台）
None
平安果、智慧果、平波、超凡子、天然子、滔婆
癞葡萄、凉瓜、锦荔枝、癞瓜
青香苋、玉米菜、红苋菜、千菜谷、红菜、荇菜、寒菜、汉菜等。
胡芹
老虎豆、肾豆等
落花生，长生果，泥豆，番豆，地豆
None
None
盖菜、芥、挂菜
None
马蒙、抹猛果、莽果、望果、蜜望、蜜望子、莽果
None
None
None
None
红萝卜、甘荀
None
None
None
豆芽菜
青小豆、菉豆、植豆
None
None
干枣、枣子
紫菜
None
江米
None
细粉，粉条丝，冬粉，春雨
None
None
None
None
空心菜、通菜蓊、蓊菜、藤藤菜、通菜
竹刀鱼
安石榴、山力叶、丹若、若榴木、金罂、金庞、涂林 、天浆
None
None
None
None
None

None
蒋学军
None
None
None
None
蕃柿、西红柿、洋柿子
None
蛎黄，海蛎子，蚝，蚵，蛎子
叶用莴苣、鹅仔菜、莴仔菜、唛仔菜
None
瓜子儿，边果

猪红，血花，血豆腐，液体肉
猪腰，猪肾
链铁
None
None
None
豚肉
None
None
None
肥肠
蛎黄，海蛎子，蚝，蚵，蛎子
None
牛胃
None
None
None
None
None
None
None
None
None
None
大叶藻、大蒿子、海根菜、海草、天然海藻
纶布、昆布、江白菜
None
None
鱼鳅、泥鳅鱼、拧沟、泥沟娄子
None
沙鲻、沙脑鰛、大肚鰛、真鰛、南美拟沙丁鱼、鰯
金环、黄果、柑子、柳丁
None
None
桔子
None
None
None
胡桃、羌桃
None
None
None
None
果子酱
金丸、芦枝、卢桔、卢橘等
洋桃、五敛子、杨桃、酸阳桃
None
None
玉皇李、嘉应子、嘉庆子、山李子等
None
None
None
江瑶柱、扇贝柱
None
牙带鱼
None
麸麦、浮麦、浮小麦、空空麦、麦子软粒、麦
None
None
小西红柿、樱桃西红柿、樱桃番茄、小柿子
None
生姜、
菽、黄豆
蒜、蒜头、独蒜、胡蒜
青葱、事菜
None
大比目鱼，太平洋大比目鱼
None

None
None
None
None
None
None
None
None
None
倭瓜、番瓜、饭瓜、番南瓜、北瓜
None
苦初鱼、凤尾鱼、毛鱼
None
None
细粉，粉条丝，冬粉，春雨
None
白瓜、白东瓜皮、白冬瓜、白瓜皮、白瓜子、地芝、东瓜
None
None
孝鱼、乌鱼、蛇皮鱼、
None
胜瓜、菜瓜、水瓜
北鳟鱼、大马哈鱼、罗锅鱼、马哈鱼、麻糕鱼

0      None
1      None
2      None
3      None
4      None
       ...
491    None
492    None
493    None
494    None
495    None
Name: name, Length: 496, dtype: object

In [21]:
final_cleaned = final_df[final_df["name"] != "None"]
cleaned_final = final_cleaned[final_cleaned["name"] != 0]
cleaned_final

                          name    Y           D       S F
0                          龙眼干             None  水果类及制品
1                           黑鳝             None   鱼虾蟹贝类
2                          黑鲳鱼             None   鱼虾蟹贝类
3                           黑豆       乌豆、枝仔豆、黑大豆  干豆类及制品
4                          黑芝麻             None  坚果、种子类
..                         ...  ...         ...     ... ..
487               细粉，粉条丝，冬粉，春雨   冬粉
489  白瓜、白东瓜皮、白冬瓜、白瓜皮、白瓜子、地芝、东瓜   冬瓜
492                 孝鱼、乌鱼、蛇皮鱼、   乌鱼
494                   胜瓜、菜瓜、水瓜   丝瓜
495       北鳟鱼、大马哈鱼、罗锅鱼、马哈鱼、麻糕鱼  三文鱼

[354 rows x 5 columns]

In [22]:
final = cleaned_final.reset_index().drop(columns="index")

清洗完成

In [23]:
linshi_df = final.copy()
def informal_to_single_line(x):
    informal_name_list = x["name"].split("、")
    this_formal_list = []
    for each_informal_name in informal_name_list:
        this_dict = {"name":each_informal_name}
        this_dict["Y"] = x["Y"]
        this_dict["D"] = ""
        this_dict["S"] = ""
        this_dict["F"] = ""
        this_formal_list.append(this_dict)
    return this_formal_list
# linshi_df[final["name"].apply(lambda x: True if '、' in x else False)]
temp_df = final[final["name"].apply(lambda x: True if '、' in x else False)]

In [24]:
all_informal_name_list = []
temp_df.apply(lambda x: all_informal_name_list.append(informal_to_single_line(x)),axis=1)

248    None
251    None
255    None
260    None
261    None
262    None
263    None
266    None
268    None
269    None
270    None
272    None
273    None
274    None
277    None
278    None
281    None
282    None
283    None
284    None
287    None
289    None
290    None
293    None
294    None
295    None
296    None
298    None
300    None
301    None
302    None
304    None
305    None
309    None
311    None
314    None
316    None
326    None
327    None
328    None
329    None
330    None
332    None
334    None
335    None
336    None
337    None
339    None
340    None
341    None
342    None
343    None
344    None
347    None
348    None
350    None
351    None
352    None
353    None
dtype: object

In [25]:
# linshi_df = linshi_df[final["name"].apply(lambda x: True if '、' not in x else False)]
linshi_df = pd.DataFrame(columns=["name","Y","D","S","F"])

In [26]:
final_informal_list = []
for each_list in all_informal_name_list:
    for each_informal_name in each_list:
        final_informal_list.append(each_informal_name)

In [27]:
linshi_df = linshi_df.append(final_informal_list, ignore_index=True)
linshi_df

     name    Y D  S  F
0      乌豆   黑豆
1     枝仔豆   黑豆
2     黑大豆   黑豆
3      鹜肉   鸭肉
4     家凫肉   鸭肉
..    ...  ... .. .. ..
247   北鳟鱼  三文鱼
248  大马哈鱼  三文鱼
249   罗锅鱼  三文鱼
250   马哈鱼  三文鱼
251   麻糕鱼  三文鱼

[252 rows x 5 columns]

In [28]:
linshi_df.replace(to_replace="None", value="", inplace=True)

分行完成

In [29]:
formal_name_df = final[final["name"].apply(lambda x: True if '、' not in x else False)]
formal_name_df

             name     Y           D       S F
0             龙眼干              None  水果类及制品
1              黑鳝              None   鱼虾蟹贝类
2             黑鲳鱼              None   鱼虾蟹贝类
3              黑豆        乌豆、枝仔豆、黑大豆  干豆类及制品
4             黑芝麻              None  坚果、种子类
..            ...   ...         ...     ... ..
333           果子酱    果酱
338           牙带鱼    带鱼
345  大比目鱼，太平洋大比目鱼  大比目鱼
346                  土豆
349  细粉，粉条丝，冬粉，春雨    冬粉

[295 rows x 5 columns]

In [30]:
informal_name_df = linshi_df

In [31]:
txt_data_df = pd.concat([formal_name_df,informal_name_df], axis=0)

In [32]:
txt_data_df = txt_data_df.replace(to_replace="None", value="")
txt_data_df = txt_data_df.replace(to_replace="NONE", value="")
txt_data_df = txt_data_df.replace(to_replace=0,value="")

In [33]:
txt_data_df[txt_data_df["name"]=="三文鱼"]

    name Y                     D      S F
247  三文鱼    北鳟鱼、大马哈鱼、罗锅鱼、马哈鱼、麻糕鱼  鱼虾蟹贝类

将分行后的合并到原表，完成

# 写入到txt文件中

In [34]:
txt_data = txt_data_df.reset_index().drop(columns=["index"])

In [35]:
txt_data.sort_values(by="name",ascending=False, inplace=True)

In [36]:
txt_data = txt_data[txt_data["name"] != ""]

In [37]:
txt_data.reset_index(inplace=True)

In [38]:
txt_data.drop(columns=["index"],inplace=True)

此处pandas中的sort_values不能进行拼音排序，故导出成excel后进行排序，再读取

In [41]:
txt_data.to_excel("字顺表.xlsx",encoding="utf_8_sig")

In [43]:
sorted_txt_data = pd.read_excel("字顺表.xlsx")
sorted_txt_data.drop(columns=["Unnamed: 0"], inplace=True)

In [44]:
sorted_txt_data.fillna(value="", inplace=True)

In [45]:
#写入txt文件
def output_to_list(x,file):
    file.writelines(x["name"])
    if (x["Y"] != ""):
        file.writelines(f'\n\tY\t{x["Y"]}')
    if (x["D"] != ""):
        if('、' in x["D"]):
            informal_name_list = x["D"].split("、")
            first_D = 1
            for each_informal_name in informal_name_list:
                if first_D == 1:
                    file.writelines(f'\n\tD\t{each_informal_name}')
                else:
                    file.writelines(f'\n\t \t{each_informal_name}')
                first_D += 1
        else:
            file.writelines(f'\n\tD\t{x["D"]}')
    if (x["S"] != ""):
        file.writelines(f'\n\tS\t{x["S"]}')
    if (x["F"] != ""):
        file.writelines(f'\n\tF\t{x["F"]}')
    file.writelines("\n")

        
with open("字顺表.txt", 'wt',encoding='utf-8') as file:
    sorted_txt_data.apply(lambda x:output_to_list(x, file), axis=1)